/* 
----------------------
FIX THE FONTS 
----------------------
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    /* color: #b8b7b2; */
    color: #fcfbfe;
    scroll-behavior: smooth;
}

body{
    /* background-color: #101010; */
    background-color: #1D1135;
}

nav {
    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    /* color: #b8b7b2; */
    color: #fcfbfe;
    font: 18px "Montserrat", sans-serif;
}

a:hover{
    cursor: pointer;
    opacity: 1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

section:not(.main):nth-child(odd){
    /* background-color: #202020; */
    background-color: #0C164F;
}

section h1{
    font: 36px "Montserrat", sans-serif;
}

section p {
    line-height: 2;
    margin-bottom: 5px;
}

section hr{
    width: 30vw;
    height: 3px;
    margin: 50px 0;
    /* background-color: #78103f; */
    /* background-color: #7649FE; */
    background-color: #ba1e68;
    border: 0;
}

/* Side menu */

.sidemenu{
    position: fixed;
    z-index: 10;
    right: 0;
    top: 50%;
    opacity: 0;
    
}

@keyframes slideup{
    100%{
        transform: translateY(-50%);
        opacity: 1;
    }
}

.menu{
    list-style: none;
    padding: 0;
}

.menu li{
    margin: 33px;
}

.add{
    animation: slideup 1.5s 0.25s ease forwards;
}

/* Header */

header{
    position: fixed;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    opacity: 0;
    animation: fadein 1.5s 0.25s ease-in forwards;
}

header h2{
    opacity: 1;
    transition: all 0.5s ease-out;
}

header h2.animate {
    transform: scale(0);
}

header h2:hover{
    transform: scale(1.1);
}

@media (max-width: 800px){
    header{
        padding: 20px 50px;
        flex-direction: column;
    }

    header h2{
        margin-bottom: 15px;
    }
}

@keyframes fadein{
    100%{
        opacity: 1;
    }
}

header nav{
    display: flex;
    margin-right: -15px;
}

header nav li{
    margin: 0 20px;
}

header h2 a{
    font-size: 24px;
    font-weight: 500;
}

/* Main Section */

.main{
    font: 20px "Tenali Ramakrishna", sans-serif;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

.main-content-area{
    margin-top: 50px;
    opacity: 0;
    animation: slidein 2s 0.25s ease-in forwards;
}

@keyframes slidein {
    100%{
        opacity: 1;
        margin: 0;
    }
}

.main h1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 10px;

}

.main h1{
    /* font-family: "Tenali Ramakrishna"; */
    font-family: "Chelsea Market";
}

.main .background-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}



/* Arrow animation */

.scroll{
    cursor: pointer;
    width: 160px;
    height: 200px;
    position: fixed;
    bottom: -100px;
    /* margin-bottom: -20px; */
    /* margin-top: 50vh; */
    left: 50%;
    margin-left: -80px;
    z-index: 10;
    opacity: 0;
    animation: fadein 1.5s 0.25s ease-in forwards;
   
}

.arrow-container{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -18px;
    animation: fadein, bounce 2s linear infinite;
}

.arrow{
    opacity: 0;
    animation: opacity 2s linear infinite;
}

.arrow:last-child{
    margin-top: -10px;
    animation-direction: reverse;
    /* opacity: 0; */
}

.arrow > div{
    width: 36px;
    height: 36px;
    /* border-right: 8px solid #b8b7b2; */
    border-right: 8px solid #fcfbfe;
    /* border-bottom: 8px solid #b8b7b2; */
    border-bottom: 8px solid #fcfbfe;
    transform: rotate(-135deg);
}

@keyframes bounce{
    0%{
        transform: translateY(80px);
    }
    10%{
        transform: translateY(72px);
    }
    20%{
        transform: translateY(64px);
    }
    30%{
        transform: translateY(56px);
    }
    40%{
        transform: translateY(48px);
    }   
    50%{
        transform: translateY(40px);
    }
    60%{
        transform: translateY(32px);
    }
    70%{
        transform: translateY(24px);
    }
    80%{
        transform: translateY(16px);
    }
    90%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}

/* About me section */

.about{
    padding: 100px 80px;
    display: flex;
    justify-content: center;

}

/* Projects section */

.projects .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1100px){
    .projects .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 780px){
    .projects .container{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.projects h2{
    margin-bottom: 20px;
}

.projects .card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px minmax(210px, auto) minmax(80px, auto);
    grid-template-areas: "image" "description" "buttons";

    font-family: "Montserrat", sans-serif;
    border-radius: 18px;
    background-color: #5643FD;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 30px 60px 40px;

    transition: all 1s ease;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px (0, 0, 0, 0.6);
}

.card img{
    width: 25px;
    height: 25px;
}

.card .image{
    grid-area: image;
    background-image: url(img/img1.jpg);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card .description {
    grid-area: description;
    margin: 25px;
    line-height: 1;
}

.card .description p{
    font-size: 15px;
}

.card .buttons{
    grid-area: buttons;
    background-color: #ba1e68;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.card .buttons p{
    line-height: 1;
}

.card .buttons > div:not(.stack){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.card .buttons > div:not(.stack):hover p{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.card .buttons > div:nth-child(2){
    border-right: 1px solid #5643FD;
    border-left: 1px solid #5643FD;
}

.card .stack{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    align-items: center;
    
}

.card .stack p{
    flex-basis: 100%;
    margin-bottom: 0;
}

/* Contact Section */

.contact{
    height: 100vh;
}

/* Footer */

footer{
    height: 15vh;
    background-color: #7649fe;
}